@media screen and (max-width: 1024px) {
/*   header.mdl-layout__header {
     display: flex;
   }*/
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

img {
  width: auto;
  max-height: 85rem;
}

header {
  position: fixed;
}

body {
  font-size: 10px;
}

section {
  max-width: 100%;
}

.hero {
   height: 100vh;
   justify-content: center;
   text-align: center;
 }

.prj-part {
  margin: 2rem;
}

/* horizontal scrolling */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  height: auto;
}

/* font and typography styling */

h1 {
  color: #40AEFE;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: #40AEFE;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  color: #40AEFE;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

b {
  font-weight: bold;
}

/* footer */

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
/*  position: fixed;*/
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}
