@media screen and (max-width: 1024px) {
/*   header.mdl-layout__header {
     display: flex;
   }*/
}

@keyframes highlighter {
  from {background-position-y: -0%;}
  to {background-position-y: 50%;}
}

/* structure */

.container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  /* overflow-y: scroll; */
  scroll-snap-type: y proximity;
  width: 100%;
  /* border: 2px solid blue; */
}

body {
  font-size: 10px;
}

section {
  /* max-width: 75%; */
  height: 100%;
  overflow: visible;
  position: relative;
  width: 75%;
  /* border: 2px solid green; */
}

.homepage-section {
  align-self: center;
  min-height: 100vh;
  overflow: visible;
  scroll-snap-align: start;
  width: 75%;
  /*border: 2px solid orange;*/
}

.prj-part {
  padding-top: 4rem;
  align-self: center;
  /* border: 2px solid red; */
}

.hero-text {
  margin: 50% 0;
  /*width: 40rem;*/
}

.takeaways {
  display: list-item;
  font-size: 1.4rem;
  list-style-type: square;
  margin: 1rem 0 0 2rem;
}

.only-pics {
  display: block;
  margin: 0 auto;
}

/* nav bar */

header {
  height: 3rem;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

#logo {
  display: inline-block;
  float: left;
  height: 3rem;
  width: auto;
  /*padding: 0.5rem;*/
  /*border: 3px solid blue;*/
}

/* page steppers */

#steppers {
  bottom: 50px;
  /* display: list-item; */
  list-style-type: disc;
  margin: 0 3rem;
  position: fixed;
  /* width: 2rem; */
}

#steppers li {
  color: #CBC3B7;
  /* margin-top: 0rem; */
  font-size: 1.5rem;
}

/** hamburger menu **/

#nav-icon {
  float: right;
  height: 27px;
  margin: .5rem 3rem;
  position: relative;
  width: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  /*display: inline-block;*/
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F69709;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 12px;
}

#nav-icon span:nth-child(3) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#nav-icon.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* project roles table */

.table {
  display: flex;
  display: block;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}

.table-foot {
  padding-bottom: 4rem;
}

.table-header {
  text-align: left;
}

.table-cell {
  box-sizing: border-box;
  height: 1rem;
  flex-grow: 1;
  /* border: 2px solid purple; */
}

/* horizontal scrolling */
img {
  display: inline-block;
  margin: 0.5rem auto;
  max-width: 80%;
  max-height: 75vh;
  width: auto;
  /*border: 2px solid blue;*/
}

.scrolling-wrapper {
  background-color: #F2F9FF;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0.5rem;
  scroll-snap-type: x mandatory;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  /* display: flex;
  flex-flow: row nowrap;
  align-items: center; */
}

.card {
  display: inline-block;
  /* height: auto; */
  margin: auto;
  scroll-snap-align: center;
  vertical-align: middle;
  width: 100%;
  /* border: 2px solid #F2F9FF; */
  /* align-content: space-between; */
}

/* font and typography styling */

h1 {
  color: #40AEFE;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: #40AEFE;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #40AEFE;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #333333;
  font-family: proxima-nova, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  /*width: 30rem;*/
}

h5 {
  color: #333333;
  font-family: proxima-nova, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.highlight {
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 50%, #C2E5FF 50%);
  background-position-y: -0%;
  transition: background 1s ease;
  background-size: auto 200%;
  animation: highlighter 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation: highlighter 1s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: highlighter 1s ease;
  -moz-animation-fill-mode: forwards;
  /* animation: 1s ease-in-out 0s 1 highlighter; */
  /* animation-name: highlighter;
  animation-duration: 0.25s; */
}

b {
  font-weight: bold;
}

/* td {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  padding: 0.2rem;
  width: 10rem;
} */

/* button styling */
.button {
  border: 2px solid #F69709;
  border-radius: 25px;
  color: #F69709;
  display: block;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 2% auto;
  padding: .6rem 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 18rem;
  /* transition: 1s; */
}

.button:hover {
  background-image: linear-gradient(45deg,#F69709 40%,#FF6B00 60%);
  color: #FFFFFF;
}

/* footer */

footer.mdl-mini-footer {
  bottom: 0;
  margin-top: 10%;
  padding: 0.5rem;
/*  position: fixed;*/
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}
